<% if logged_in? %>
  <h1>Smart Home App</h1>


  <div class="row">
    <div class="col-md-12">
      <p>Philips Hue</p>
    </div>

    <%= form_tag("/lightson", method: 'get') do %>
      <div class="form-group">
        <div class="col-xs-2">
          <%= label_tag(:light, "Hue Lights:", {class: 'label_tag'}) %>
        </div>
        <div class="col-xs-2">
          <%= select_tag(:light_id, options_for_select([['All', 'all'], ['Living','living' ], ["Bedroom", 0], ["Living1", 1], ["Living2", 2], ["Living3", 3], ["Living4", 4]]), {autofocus: 'true', class: 'form-control'}) %>
        </div>
        <div class="col-xs-1">
          <%= select_tag(:brightness, options_for_select([*(0..255)]), {autofocus: 'true', class: 'form-control'}) %>
        </div>
        <div class="col-xs-1">
          <%= select_tag(:temparature, options_for_select([*(153..500)]), {autofocus: 'true', class: 'form-control'}) %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-3">
          <%= submit_tag("ON", {autofocus: 'true', class: 'form-control'}) %>
        </div>
        <div class="col-xs-3">
          <%= submit_tag("OFF", {autofocus: 'true', class: 'form-control'}) %>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Smart Home App</h1>

    <h2>
      スマート家電管理画面へ
    </h2>


    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>